* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* SAME BACKGROUND AS HOME PAGE */
body {
    background: url('download\ \(1\).jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    color: white;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: orange;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: orange;
}

/* Search Box */
.search-box input {
    padding: 8px 10px;
    border: 1px solid orange;
    background: transparent;
    outline: none;
    color: white;
}

.search-box button {
    padding: 9px 18px;
    background: orange;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.about-content {
    width: 100%;
    text-align: center;
}

.about-content h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.about-content span {
    color: orange;
}

.about-content p {
    font-size: 18px;
    margin: 15px 0;
    line-height: 28px;
    width: 90%;
}

.learn-btn {
    padding: 12px 35px;
    background: orange;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

/* .about-image img {
    width: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
} */

/* RESPONSIVE */
@media (max-width: 950px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        width: 100%;
    }

    .about-image {
        margin-top: 40px;
    }

    .about-image img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        right: 20px;
        top: 80px;
        background: black;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        gap: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .search-box {
        display: none;
    }
}
